/* You can add global styles to this file, and also import other style files */
:root {
  --blue-1: #3c429e;
  --blue-2: #4c52ad;
  --yellow-1: #fac742;
  --white: #fff;
  --grey-1: #ededed;
  --shadow-dark: rgba(0, 0, 0, 0.4);
  --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-color: var(--blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 95%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  height: 80vh;
  border-radius: 20px;
  background-color: var(--blue-2);
  box-shadow: 10px 10px 10px 8px var(--shadow-dark);
}

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 36%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 1.2em;
}

.temperature {
  color: var(--white);
  font-size: 3em;
  text-align: right;
  font-weight: 700;
}

.real_feel {
  color: var(--white);
  font-size: .8em;
  font-weight: 200;
}

.more-info-label {
  color: var(--white);
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-light);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-block-label img {
  width: 1.5em;
  margin-bottom: 0.5em;
}

.info-block-label span {
  color: var(--white);
  font-size: 0.8em;
}

.info-block-value {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
}

.search {
  margin-bottom: 1em;
  text-align: center;
}

.search input {
  width: 50%;
  height: 2em;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 1.2em;
  font-size: 1em;
  text-align: center;
  color: var(--white);
  background-color: var(--shadow-light);
}

/* LOADER */
body {
  background: #3c429e;
}

.preloader {
  position: absolute;
  margin-left: -55px;
  margin-top: -100px;
  height: 110px;
  width: 110px;
  left: 50%;
  top: 50%;
}

svg {
  width: 110px;
  height: 110px;
}

path {
  stroke: #9ea1a4;
  stroke-width: 0.25;
  fill: #241e20;
}

#cloud {
  position: relative;
  z-index: 2;
}

#cloud path {
  fill: #efefef;
}

#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;

  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#sun path {
  stroke-width: 0.18;
  fill: #9ea1a4;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.drop {
  opacity: 1;
  background: #9ea1a4;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;

  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.drop:nth-child(1) {
  animation-delay: -130ms;
}

.drop:nth-child(2) {
  animation-delay: -240ms;
}

.drop:nth-child(3) {
  animation-delay: -390ms;
}

.drop:nth-child(4) {
  animation-delay: -525ms;
}

.drop:nth-child(5) {
  animation-delay: -640ms;
}

.drop:nth-child(6) {
  animation-delay: -790ms;
}

.drop:nth-child(7) {
  animation-delay: -900ms;
}

.drop:nth-child(8) {
  animation-delay: -1050ms;
}

.drop:nth-child(9) {
  animation-delay: -1130ms;
}

.drop:nth-child(10) {
  animation-delay: -1300ms;
}

@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }

  51% {
    opacity: 0;
  }

  100% {
    height: 1px;
    opacity: 0;
  }
}

.text {
  font-family: Helvetica, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-left: -43px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 11px;
  color: #a0a0a0;
  width: 200px;
}
